PUB_LYCHEE_KEY=<Lychee API key for readonly user, used for vite development server proxy>

LYCHEE_BASE_URL=<Base URL for Lychee API endpoint (ex. http://localhost:90/api/)>

VITE_GALLERY_ALBUM_ID=<Top level album that contains all photos and albums intended for gallery page>

VITE_HERO_ALBUM_ID=<Top level utility album, photos are randomly selected to be used in the hero section on each request>

VITE_FEATURED_ALBUM_ID=<Top level utility album, photos are displayed in featured section on index page>