:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(var(--black));
  background-color: rgb(var(--off-white));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --style-font: "Playfair Display", serif;
  --body-font: "Poppins", sans-serif;

  --off-white: 255, 252, 241;
  --black: 51, 46, 47;
  --green: 79, 97, 63;
}
body {
  margin: 0;
  width: 100%;
}
#app {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  box-sizing: border-box;
  width: 95vw;
  margin: 0 auto;
}

@media only screen
and (min-width: 496px) {
  .container {
    width: auto;
    padding: 0 2rem;
    margin: 0 auto;
  }
}

@media only screen
and (min-width: 992px) {
  .container {
    width: 62rem;
  }
}